<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>フィード</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center jumbotron">
  <h1>インスタクローン</h1>

  <h2>このページはサブ課題ようで作られたページです</h2>
  
 <%= link_to "サインアップ", new_user_path, class: "btn btn-lg btn-primary" %>
 <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>