<li id="tweet-<%= tweet.id %>"><br>
  <%= link_to gravatar_for(tweet.user, size: 50), tweet.user %><br>
  <%= link_to tweet.user.name, tweet.user %><br><br>
  <%= image_tag(tweet.picture_url) %><br>
  <%= tweet.comment %><br>
  <%= link_to "詳細",tweet,class:"btn btn-primary" %><br><br>
</li>