<% provide(:title, '投稿') %>
<h1>投稿フォーム</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <%= form_for @tweet do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :comment %>
      <%= f.text_field :comment, class: 'form-control' %>
      
      <%= f.label :picture %>
      <%= f.file_field :picture %>
      
      <%= f.submit "投稿", class: "btn btn-primary" %>
   <% end %>
  </div>
</div>