<h2><%= @tweet.comment %><br></h2>
<%= image_tag(@tweet.picture_url) %><br>

<% @comments.each do |c| %>
      <h2>
          <%= link_to c.user.name, user_path(c.user.id), method: :get %>
          <%= c.text %>
      </h2>
      <% if c.user_id==current_user.id %>
        <%= button_to "削除する", tweet_comment_path(c), method: :delete, data: { confirm: '削除しますか？' } %>
      <% end %></br></br>
<% end %>

<%=form_for [@tweet, @comment] do |f| %>
<%= f.text_field :text %>
<%= f.submit "コメントする" %>
<% end %>

    
<%= link_to "戻る", root_path %>
 
    