<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages',object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
      
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>
      
      <%= f.label :introduction %>
      <%= f.text_field :introduction, class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :tel %>
      <%= f.text_field :tel, class: 'form-control' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :sex %><br>
      <%= f.select(:sex, [['男', 1], ['女', 2]]) %><br><br>

      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %><br>
      
     <%= link_to "アカウント削除",user_path,method: :delete,data: { confirm: '削除してよろしいですか？' },class:"btn btn-outline-danger" %>
      
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>