<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <p><%= gravatar_for @user %></p>
        <P>名前:<%= @user.name %></p>
        <p>ユーザーネーム:<%= @user.username %></p>
        <p>Webサイト:<%= @user.website %></p>
        <p>自己紹介:<%= @user.introduction %></p>
      </h1>
      
      <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    
    <%= render 'follow_form' if logged_in? %>
    
      <% if current_user.id==@user.id %> 
      <h3><%= link_to "プロフィール編集",edit_user_path %></h3>
      <% end %>
    
      <h2>投稿一覧</h2>
      <% @user.tweets.each do |t| %>
        <h2><%= t.comment %></h2><br>
        <%= image_tag(t.picture_url) %><br>
        <%= link_to "詳細",tweet_path,class:"btn btn-primary" %><br><br>
      <% end %>
      
    
    </section>
  </aside>
</div>