<header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <%= link_to "instaclone","#",class:"navbar-brand"%>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
               <%= link_to "Home",root_path,class:"nav-link" %>
              </li>
              <% if logged_in? %>
              <li class="nav-item">
                <%= link_to "Profile",current_user,class:"nav-link" %>
              </li>
              
              <li class="nav-item">
                <%= link_to "Users",users_path,class:"nav-link" %>
              </li>
              
              <li class="nav-item">
                <%= link_to "Log out", logout_path, method: :delete,class:"nav-link" %>
              </li>
              <% end %>
            </ul>
          </div>
        </nav>
 </header>